
@page "/posts"
@using ApiContracts.PostFolder
@using BlazorApp1.Services
@inject IPostService PostService
@inject NavigationManager Nav
<h3>PostList</h3>

@if (posts == null)
{
    <p><em>Loading...</em></p>
}
else if (!posts.Any())
{
    <p>No posts yet. <a href="/create-post">Create one?</a></p>
}
else
{
    <ul class="list-group">
        @foreach (var post in posts)
        {
            <li class="list-group-item">
                <b>@post.Title</b> by @post.AuthorName
                <button class="btn btn-link" @onclick="() => ViewDetails(post.Id)">View Details</button>
            </li>
        }
    </ul>
}

@code {
    private List<PostDTO>? posts;

    protected override async Task OnInitializedAsync() => posts = await PostService.GetManyAsync();

    private void ViewDetails(int id)
    {
        Nav.NavigateTo($"/post/{id}");
    }
}
